@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@media print {
  body {
    @apply bg-white;
  }
  
  button {
    @apply hidden;
  }
  
  .no-print {
    @apply hidden;
  }
}
